{% load static %}
<section class="header pb-2">
    <div class="container pt-4">
        <div class="row p-4">
            <div class="col-2 left-logo">
                <img src="{% static 'images/main-logo.png' %}" alt="">
            </div>
            <div class="col-8">
                <div class="heading-title">
                    <h2>Islamic University of Technology</h2>
                    <h5>A subsidiary organ of Organisation of Islamic Cooperation(OIC</h5>
                </div>

            </div>
            <div class="col-2 right-logo">
                <img src="{% static 'images/right-logo.png' %}" alt="">

            </div>
        </div>

        <div class="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Patient Information</a></li>
                <li><a href="">Doctor</a></li>
                <li><a href="">About</a></li>
                  {% if request.user.user_type == '2' %}

                 <li><a href="{% url 'appointment-add' %}">Appintment Add</a></li>
                {% endif %}

                 {% if request.user.user_type%}

                 <li><a href="{% url 'appointment' %}">Appintment List</a></li>
                {% endif %}

                <li class="signup"><a href="{% url 'signup' %}">Sign Up</a></li>
                <li class="signup"><a href="{% url 'login' %}">Sign In</a></li>

                {% if request.user.user_type %}
                <li class="signup"><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}


            </ul>
        </div>
    </div>
</section>